<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Moviebase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Moviebase.Properties.Settings>
            <setting name="LastOpenDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="TmdbApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MovieExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.mkv</string>
                        <string>.mp4</string>
                        <string>.avi</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FileRenamePattern" serializeAs="String">
                <value>{Title} ({Year})</value>
            </setting>
            <setting name="FolderRenamePattern" serializeAs="String">
                <value>{Title} ({Year})</value>
            </setting>
            <setting name="SwapThe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PosterFileName" serializeAs="String">
                <value>poster</value>
            </setting>
            <setting name="HidePresistFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverwritePoster" serializeAs="String">
                <value>False</value>
            </setting>
        </Moviebase.Properties.Settings>
    </userSettings>
</configuration>