<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Moviebase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Moviebase.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value>54989087497c2801d6469d34c6f42fc7</value>
      </setting>
      <setting name="MovieNamePattern" serializeAs="String">
        <value>{Title}.{Year}.{Imdb}{Extension}</value>
      </setting>
      <setting name="DirectoryNamePattern" serializeAs="String">
        <value>{Title} ({Year})</value>
      </setting>
      <setting name="RenameDirectory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SupportedExtensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.mkv</string>
            <string>.mp4</string>
            <string>.avi</string>
          </ArrayOfString>
        </value>
      </setting>
    </Moviebase.Properties.Settings>
  </userSettings>
</configuration>